body {
    background-color: blueviolet;  
}


h1 {
    color:rgb(70, 29, 55); 
}
h2 {
    color:rgb(97, 12, 83);
    font-style: bold;
    font-size: 21;

}
div {
    background-color: pink;
    border-style: solid;
    border-color: black;
    border-radius: Spx;
}

.shadow-text {
    text-shadow: gray 1px 1px;
}


img {
    float: right;
    background-color: rgb(22, 233, 36);
}

p {
    color:rgb(243, 28, 232);
}



img:hover {
    color: transparent;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

tr {
    background-color: rgb(185, 185,185);
}

tr:hover {
    background-color:greenyellow;
}

ol {
    color:blue;
    font-style: italic;
    background-color: purple;

}

form {
    color:black;
}



